header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #222324;
    align-items: center;
    padding: 0 15%;
    box-sizing: border-box;
    color:white;
    font-size: 18px;
  }

.Home{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.Logo{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #D9D9D9;;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222324;;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 45px;
}




.Info{
  border-bottom: 1px dashed white;
}